.introduce
{
	background-color: $light_grey;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
	padding: rem(50px) rem(20px);

	.introduce__button
	{
		margin-top: 1rem;
	}
}