

.view-menus ul
{
	position: relative;
	bottom: 0;
	padding: 0;
	margin: 0 auto;

	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: center;

	width: pc(330px);

}

@media #{$small_desktop}
{
	.view-menus ul
	{
		margin-bottom: rem(40px);
	}
}

