@mixin menu-title
{
	
	padding: 0px 20px 0 20px;
	position: relative;
	// top: rem(-80px);
	display: flex;
	flex-wrap: column nowrap;
	max-width: rem(375px);
	height: 4rem;
	background-color: $light_grey;
	// width: 100%;

	.logo
	{
		margin: 0;
	}
}

.menu-header
{
	@include graded-heart($top:-8px, $right:30px);
	@include logo($size:28px, $bg-color:$light_grey);
	@include menu-title;
	// margin: 0 rem(20px);
}

@media #{$medium}
{
	.menu-header
	{
		margin: 0;		
		& .logo
		{
			// background-color: rgba($light_grey, 1);			

		}
	}
}