.view-menus
{
	$w: calc(100% + 60px);

	padding-top: 1rem;	
	position: relative;
	top: rem(-30px);
	padding-bottom: rem(60px);
	background-color: $light_grey;

	&::before
	{
		@include absolute_box(100%, 20px, -20px, 0, 0, 0);
		content: "";
		background-color: $light_grey;
		border-radius: 2rem 2rem 0 0;
	}
}

@media #{$medium} 
{
	
	.view-menus
	{

		& .list-title
		{
			width: 90%;
		}
		& ul
		{
			display: flex;
			flex-flow: row wrap;
			align-content: space-between;
			justify-content: center;
			width: pc(330px);
			margin: 0 auto;
		// flex-wrap: wrap;

		& li
		{
			margin-right: rem(20px);
		}
	}
	}

}