
section.view-menus
{

	padding-top: 3.5rem;	
	position: relative;
	// top: rem(-30px);
	padding-bottom: rem(60px);
	background-color: $light_grey;
	height: auto;

	&::before
	{
		@include absolute_box(100%, 20px, -20px, 0, 0, 0);
		content: "";
		background-color: $light_grey;
		border-radius: 2rem 2rem 0 0;
	}
}