.meal
{
	.check
	{
		@include absolute_box(rem(67px), 100%, 0, rem(-67px));
		background-color:  $tertiary_color;
		transition: right 1s;

		&::before
		{
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: $tertiary_color;
			opacity: 0.4;
			transition: transform 1s;
			transform-origin: top right;
			z-index: 2;
			// display: none;

		}
		
		&::after
		{
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			transition: transform 1s;
			background: no-repeat center/2rem url($icon_path + "check-circle-solid.svg");

		}
	}
}