

$map-ico:(	1: $icon_path + "mobile-alt-solid.svg",
	2: $icon_path + "list-ul-solid.svg",
	3: $icon_path + "store-solid.svg"
	);

$map-ico-purple:(	1: $icon_path + "mobile-alt-solid-purple.svg",
	2: $icon_path + "list-ul-solid-purple.svg",
	3: $icon_path + "store-solid-purple.svg"
	);

@mixin link
{
	position: relative;
	list-style-type: none;
	width: rem(322.5px);
	height: rem(75px);
	background-color: $light_grey;
	border-radius: 1rem;
	box-shadow: $elevated_light_shadow;

	& .number
	{
		background-color: $primary_color;
		@include absolute_box(rem(25px), rem(25px), rem(25px), auto, rem(25px), rem(-12.5px) );
		border-radius: 1rem;
		
	}

	& .ico-list
	{

		@include absolute_box(rem(25px), rem(25px), rem(25px), auto, rem(25px), rem(37.5px) );
	}

	@for $i from 1 through 3
	{
		& .number--#{$i}
		{
			&::before
			{
				content: $i+"";
				display: block;
				color: white;
				margin: auto;
				text-align: center;
				@include absolute_box(auto, 85%,  0, 0, 0, 0);
			}
		}

		& .list--#{$i}
		{
			$s: 100%;
			@if $i != 1{
				$s: 85%;
			}
			background: no-repeat center/$s url(map-get($map_ico, $i));

		}

		&:hover .list--#{$i}
		{
			$s: 100%;
			@if $i != 1{
				$s: 85%;
			}
			background: no-repeat center/$s url(map-get($map_ico_purple, $i));
		}
	}

	& p
	{
		font-weight: bold;
		margin: 0;
		@include absolute_box(100%, rem(25px), rem(25px), auto, rem(25px), rem(82.5px) );
	}

	& a
	{
		@include absolute_box(100%, 100%, 0, 0, 0, 0);
		z-index: 2;
	}

	&:hover
	{
		background-color: #f5edff;
	}



}

.functioning__link
{
	@include link;
	
}

.functioning ul
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: rem(270px);
	padding: 0;

}


