@mixin graded-button
{
	background:{
		image: linear-gradient($secondary_color -10%,  $primary_color 150%);
	};
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: rem(50px);
	border: none;
	width: rem(218px);
	padding: 1rem 0.5rem;
	box-shadow: $elevated_dark_shadow;

	&:active
	{
		background:{
			image: linear-gradient(darken($secondary_color, 5%) -10%,  darken($primary_color, 30%) 150%);
		};	
		box-shadow: $puted_shadow;
	}
}

.btn
{
	@include graded-button;
}