
$list-icon: $icon_path + "utensils-solid.svg", $icon_path + "hands-helping-solid.svg";
.list-footer
{
	padding: 0;

	& li
	{
		list-style-type: none;
		height: 2rem;

		& a
		{
			width: auto;
			text-decoration: none;
			color: white;
		}
	}


	@for $i from 1 through 2
	{
		& .footer--icon-#{$i}
		{
			list-style: inside url(nth($list-icon, $i));
			font-weight: bold;

			& a
			{
				margin-left: rem(10px);

			}

			&::marker
			{
				font-size: 1.5rem;
			}
		}
	}
}