.meal
{
	@for $i from 1 through 4
	{
		$j: $i+1;
		$k: -1+$i;
		$delay: 0.2s*$k;
		&:nth-child(#{$j})
		{
			animation: pop 1s $delay ease-out forwards;
		}
	}
	position: relative;
	opacity: 0;
	list-style-type: none;
	width: 100%;
	max-width: 375px;
	min-height: rem(67px);
	// padding: rem(8.5px) rem(12px);
	margin-bottom: 1rem;
	overflow: hidden;
	box-shadow: $elevated_light_shadow;
	border-radius: 1rem;
	background-color: white;

	display: flex;
	flex-flow: row nowrap;


	&__flex
	{
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		height: 100%;
		width: 74%;
		// min-width: 334px;
		animation: mini_out 1s;
		margin: 0 0 0 1rem;
	}

	& h2
	{
		font-size: 1rem;
		font-weight: bold;
		width: 100%;
		margin: 0;
		overflow-x: hidden;
		text-overflow: ellipsis;
		height: auto;
	}

	& .comment
	{
		position: relative;
		bottom: 0;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: auto;
		margin: 0;
		height: auto;
		width: auto;	
	}

	& .price
	{
		position: relative;
		z-index: 2;
		margin: 0;
		top: 2.5rem;
		width: 2rem;
		height: 2rem;
		margin: 0 0.5rem;
		transition: right 1s;
		font-weight: bold;
	}

}

@media #{$small_desktop}
{
	.meal
	{
		margin-right: rem(20px);
	}
}