

.list-title
{
	text-transform: uppercase;
	margin-bottom: rem(26px);
	font-size: 1rem;
	list-style-type: none;
	width: 100%;

	&::after
	{
		width: rem(40px);
		height: rem(3px);
		margin-top: rem(10px);
		content: "";
		display: block;
		background-color: $tertiary_color;
	}
}

@media #{$small_desktop}
{
	.list-title
	{
		padding: 0 50%;
	}
}