@mixin panel-new
{
	&::before
	{
		@include absolute_box($w: auto, $h: auto, $t: rem(14px), $r: rem(12px));
		display: block;
		z-index: 3;
		content: "Nouveau";
		padding: rem(7px) rem(12px);
		font-size: rem(14px);
		font-weight: bold;
		color: $dark_tertiary_color;
		background-color: $tertiary_color;
		border-radius: rem(2px);
		box-shadow: 0 0.2rem 0.30rem rgba(0, 0, 0, 0.15);
	}
}