$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$dark_tertiary_color: #008766;
$light_grey: #f6f6f6;
$basic_grey: #eaeaea;
$dark_grey: #7e7e7e;
$deep_grey: #353535;