$font_roboto_path: "../font/roboto/";
$font_shrikhand_path: "../font/shrikhand/";
@font-face {
	font-family: Roboto;
	src: url($font_roboto_path + "roboto-light-webfont.eot?#iefix")
	format("embedded-opentype"),
	url($font_roboto_path + "roboto-light-webfont.woff")
	format("woff"),
	url($font_roboto_path + "roboto-light-webfont.woff2")
	format("woff2"),
	url($font_roboto_path + "roboto-light-webfont.ttf")
	format("truetype"),
	url($font_roboto_path + "roboto-light-webfont.svg#robotolight")
	format("svg");
}
@font-face {
	font-family: Shrikhand;
	src: url($font_shrikhand_path + "shrikhand-regular-webfont.eot?#iefix")
	format("embedded-opentype"),
	url($font_shrikhand_path + "shrikhand-regular-webfont.woff")
	format("woff"),
	url($font_shrikhand_path + "shrikhand-regular-webfont.woff2")
	format("woff2"),
	url($font_shrikhand_path + "shrikhand-regular-webfont.ttf")
	format("truetype"),
	url($font_shrikhand_path + "shrikhand-regular-webfont.svg#robotolight")
	format("svg");
}