
.meal
{
	& label:hover + input + &__flex .price + .check,
	& label:hover + input + &__flex .price,
	& input:checked + &__flex .price + .check,
	& input:checked + &__flex .price,
	{
		transform: translateX(rem(-67px));
	}

	.price, .check, .check::after
	{
		transition: transform 0.6s;
	}

	&__flex .comment
	{
		transition: width 0.1s, white-space 1s 1s;
	}

	& label:hover + input + &__flex .comment,
	& input:checked + &__flex .comment
	{
		overflow-x: hidden;
		width: pc(252px);
		height: auto; //rem(20px);
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	& label:hover + input + &__flex .check::after
	{
		transform: rotate(-360deg);
	}

	& input:checked + &__flex .check::before
	{
		transform: scaleX(0);
	}

}


