$v: 74% - pc(67px);
@keyframes mini_in
{
	0%
	{
		white-space: nowrap;
	}

	
	100%
	{
		width: $v;
		@debug $v;
		white-space: nowrap;
	}
}

@keyframes mini_out
{
	0%
	{
		white-space: nowrap;
		width: $v;
	}

	
	100%
	{
		white-space: normal;
		width: 74%;
	}
}
.meal
{
	& label:hover + input + &__flex + .price + .check,
	& label + input:checked + &__flex + .price + .check
	{
		right: 0;
	}
	& label:hover + input + &__flex + .price,
	& label + input:checked + &__flex + .price
	{
		right: 0;
		// left: auto;
	}

	& label:hover + input + &__flex + .price + .check::after,
	& label + input:checked + &__flex + .price + .check::after
	{ 
		transform: rotate(-360deg);
	}

	& input:checked + &__flex + .price + .check::before
	{
		transform: scaleX(0);
	}

	& label:hover + input + &__flex,
	& label + input:checked + &__flex
	{
		animation: mini_in 1s forwards;

	}
}


