@keyframes happend {
	
	0%
	{
		transform: translate(0);
	}

	99%
	{
		transform: translate(0);
	}

	100%
	{
		transform: translate(999999px);
	}
}

@keyframes scale
{
	0%
	{
		transform: scale(1);
	}

	100%
	{
		transform: scale(0);
	}
}