//media
$mini: 'all and (max-width: 350px)';
$small: 'all and (min-width: 479px)';
$medium: 'all and (min-width: 767px)';
// icon
$icon_path: "../images/ico/";
$restaurants_imgs_path: "../images/restaurants/";